@font-face {
    font-family: 'El Messiri';
    src:
        url('../fonts/ElMessiri-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'El Messiri';
    src:
        url('../fonts/ElMessiri-Medium.ttf') format('opentype');
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'El Messiri';
    src:
        url('../fonts/ElMessiri-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'El Messiri';
    src:
        url('../fonts/ElMessiri-SemiBold.ttf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Limelight';
    src:
        url('../fonts/Limelight-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
