<head>
<style>
div.fixedheader {
	top:20px;
	left:20px;
  bottom: 20px;
  right: 20px;
	width: auto;
	padding:20px;
}

h1 {
    background: lightgrey;
    color: maroon;
    font-family: 'El Messiri', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
}
li a {
    display: block;
    background-color: maroon;
    color: white;
    padding: 8px 8px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: black;
    color: white;
}


</style>
</head>
