<head>
<style>

html {
    background: white;
    color: black;
    font: 16px 'Trebuchet MS', Arial, sans-serif;
}
div#fixedheader {
	top:20px;
	left:20px;
	width:95%;
	color: maroon;
	background:grey;
    opacity: 0.5;
	padding:20px;
}

h1 {
  display: center;
  color: black
  margin-left: auto;
  border: 5px solid maroon;
  padding: 25px;
  width: 50%;
  text-align: center;
}
</style>
</head>
