<head>
<style>

body {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  align: center;
  color: black
  margin-left: 20px;
  border: 5px solid maroon;
  padding: 25px;
  width: 50%;
  text-align: center;
}
</style>
</head>
